name: Code Quality

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review]
  schedule:
    - cron: "0 3 * * 1"

permissions:
  contents: read
  actions: read
  security-events: write
  
jobs:
  quality:
    uses: frasermolyneux/actions/.github/workflows/codequality.yml@main
    with:
      sonar-project-key: frasermolyneux_portal-environments
      sonar-organization: frasermolyneux
      sonar-host-url: https://sonarcloud.io
      build-target: terraform-plan
      terraform-folder: terraform
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
