name: Code Quality

on:
  schedule:
    - cron: "0 3 * * 1" # Monday 3am UTC
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review]

permissions: {}

jobs:
  devops-secure-scanning:
    permissions:
      contents: read
      actions: read
      id-token: write
      security-events: write
    uses: frasermolyneux/actions/.github/workflows/devops-secure-scanning.yml@main

  dependency-review:
    permissions:
      contents: read
      pull-requests: read
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Dependency Review
        uses: actions/dependency-review-action@v4

